###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=vite_gourmand_secret_key_2026_ecf
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:root@mariadb:3306/vite_gourmand?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
MAILER_DSN=smtp://localhost:1025
###< symfony/mailer ###

###> doctrine/mongodb-odm-bundle ###
MONGODB_URI=mongodb://mongodb:27017
MONGODB_DB=vite_gourmand_stats
###< doctrine/mongodb-odm-bundle ###
